//VARIABLES DE COLOR
$Oscuro: #201D1D;
$Intenso: #501e5c;
$Calido: #941414;
$Suave: #937EA5;
$MasSuave: #CCB2DC;

//FUENTES
@font-face {

    font-family: "SpecialElite";
    src: url("../Fonts/SpecialElite-Regular.ttf");

}

@font-face {

    font-family: "Audiowide-Regular";
    src: url("../Fonts/Audiowide-Regular.ttf");

}